<section>
	<nav>
		<ol class="cd-breadcrumb custom-separator">
			<li class="<%= 'current' if current_page?(mis_experiencias_path) %>"><a href="<%= mis_experiencias_path %>">Productos</a></li>
			<li class="<%= 'current' if current_page?(new_experience_path) %>"><a href="<%= new_experience_path %>">Nuevo Producto</a></li>
		</ol>
	</nav>
</section>