<div class="hero6">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="banner_1">
				<h1 class="titulo white">Las mejores experiencias en México</h1>
				<p class="white hidden-xs">Es momento de tomar un descanso y acompañarnos a disfrutar de las mejores experiencias turísticas, gastronómicas, culturales y tradiciones de México</p>

				<%= link_to new_contact_path do %>
				<button class="button button_blue2">Más información</button>
				<% end %>
			</div>
		</div>
	</div>
	</div>
</div>