<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= render 'dere'%>
    </div>
    <div class="col-md-5">
      <%= render 'izqui' %>
    </div>
  </div>
</div>



<script>
  var card = new Card({
    form: 'form',
    container: '.card-wrapper',

    formSelectors: {
      nameInput: 'input[name="first-name"]'
    },

    placeholders: {
      number: '**** **** **** ****',
      name: 'Bruno Diaz',
      expiry: '**/****',
      cvc: '***'
    }
  });

  

  $("#expiry2").keyup(function(){
    var firstChar = $('#expiry2').val().substr(0, 2);
    document.getElementById('exo_month').value = parseInt(firstChar);
  });

  $("#expiry2").keyup(function(){
    var firstChar = $('#expiry2').val().substr(4, 6);
    document.getElementById('exo_year').value = parseInt(firstChar);
  });


</script>