<div id="option" class="row">
	<div class="nein">
	<h2 class="center">En seguida nos pondremos en contacto contigo</h2>
	<hr>
	<p>Gracias por comunicarte</p>
<br><br>
<div id="iconos">
	<h4>Inter Travex</h4>
	<hr>
	<%= link_to "https://www.facebook.com" do %>
	<span class="fa fa-facebook"></span>
	<% end %>

	<%= link_to "https://www.instagram.com" do %>
	<span class="fa fa-instagram"></span>
	<% end %>
</div></div>
</div>