<div id="option">
	<div class="nein">
	<h2 class="center">En seguida nos pondremos en contacto contigo</h2>
	<p class="center">Gracias por comunicarte</p>
<br><br>
<div id="iconos">
	<h1 class="center">Inter Travex</h1>
</div></div>
</div>