<div id="tabs">
      <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen"> <span class="fa fa-info-circle"></span> Información</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')"> <span class="fa fa-comments"></span> Recomendaciones</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')"> <span class="fa fa-file"></span> Políticas</button>
</div>

<div id="London" class="tabcontent">

  <h3>¿Cuál es el plan?</h3>
  <p><%= @experience.que_plan.html_safe %></p>

  <h3>¿Qué incluye?</h3>
  <p><%= @experience.incluye.html_safe %></p>

  <h3>Itinerario</h3>
  <p><%= @experience.itinerario.html_safe %></p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Recomendaciones:</h3>
  <p><%= @experience.recomendaciones.html_safe %></p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Políticas: </h3>
  <p>*  Se sugiere reservar con mínimo 7 días antes a la salida del viaje. <br> <br>  
* Reservas con el 50% de Anticipo a liquidar 3 días antes. 
* Se sugiere llegar minutos antes del horario asignado en todos los puntos de reunión, a fin de estar puntuales en la hora y sitio asignado por el guía o coordinador de grupo. ya que por itinerario establecido y por respeto a todos los viajeros, se mantendrá una tolerancia máxima de 15 minutos, bajo su responsabilidad y con las limitantes de transporte que implique cada lugar. <br> <br> 
* Favor de estar pendiente de su correo 24 horas antes de la salida, por cualquier cambio o información de último momento a considerar.  <br> <br>  
* Recuerda que viajar siempre implica aventuras, riesgos, complicaciones climáticas, percances mecánicos o viales, etc. Por lo que siempre debes de seguir las medidas de precaución de la Agencia o del sitio a visitar. <br> <br> 
* Considerar que algunos recorridos son a pie por calles empedradas, terracería, etc. <br> <br> 
* No aplica reembolso, reprogramación de fechas, modificación, ni Cancelación por ningún motivo. <br> <br>  
* Fechas o Itinerario sujeto a cambio y disponibilidad por operación de la Agencia, cambio climático, congestión, cierre de vialidades, etc. <br> <br>  
* Sujeto a mínimo de personas. <br> <br>  
* En caso de existir baja demanda de la salida solicitada se asignará nueva fecha, la agencia avisará vía email, Whats App, teléfono o cualquier medio de contacto proporcionado.</p>
</div>


<!-- tabs -->
</div>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>