<%= render 'welcome/bread' %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

<h2 class="center">Nueva Experiencia</h2>

<%= render 'form', experience: @experience %>

<%= link_to 'Atrás', experiences_path %>


</div>
</div>
</div>